/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.09.2014, 20:31:39
    Author     : MrUnkn0wn
*/
* {
  margin: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

html, body {
  height: 100%;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: #FCFAEE;
  font-family: 'Arian AMU';
}

#header {
  height: 70px;
  /*div{
      height:60px;
      font-family: $font-header;
      padding-top: 10px;
  }*/
}
#header .header-logo {
  float: left;
  font-size: 40px;
  text-align: right;
  vertical-align: central;
  font-weight: bold;
  width: 204px;
  color: #F8F4D7;
  background-color: #AACCB1;
  padding-right: 5px;
}
#header .header-separator {
  float: left;
  width: 5px;
  background-color: #68B3AF;
}
#header .header-main {
  padding-left: 5px;
  font-size: 40px;
  vertical-align: central;
  font-weight: bold;
  width: 78%;
  overflow: hidden;
  background-color: #D3E2B6;
  color: #497D7A;
  position: absolute;
  left: 214px;
}
#header .header-signup {
  font-size: 14px;
  width: 203px;
  background-color: #AACCB1;
  float: right;
  padding-top: 0px;
  height: 55px;
}
#header .header-signup div.sign-btn {
  padding: 7px 0px;
  background: #AACCB1;
  color: #497D7A;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  height: 20px;
  text-align: center;
}
#header .header-signup div.sign-btn:hover {
  background: #497D7A;
  color: #FCFAEE;
  border-radius: 3px;
}
#header .header-signup div.sign-separator {
  background: #D3E2B6;
  height: 2px;
  padding-top: 0px;
}

#header > div {
  height: 60px;
  padding-top: 10px;
}

#header-logo, #header-main {
  font-family: "Aliquam";
}

#page-wrapper {
  min-height: 100%;
  margin-bottom: -20px;
}

#page-wrapper:after {
  content: "";
  display: block;
}

#footer, #page-wrapper:after {
  height: 20px;
}

#footer {
  background: #497D7A;
  color: #FCFAEE;
}

button {
  border-radius: 3px;
  padding: 10px 20px;
  background: #497D7A;
  border: none;
  color: #FCFAEE;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}

input {
  font-size: 20px;
  padding: 4px;
  border: 2px solid #68B3AF;
  border-radius: 2px;
  background: #F8F4D7;
  color: #162625;
}

.input-form {
  margin: 10px 0px;
  position: relative;
}
.input-form input {
  width: 100%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
  padding: 12px 12px 12px 12px;
}
.input-form input:focus {
  border-color: #f06d06;
}
.input-form input:focus + label {
  background: #f06d06;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}
.input-form label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.input-form input:focus {
  padding: 4px 6px 20px 6px;
}
.input-form input:focus + label {
  top: 100%;
  margin-top: -16px;
}

#mask {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: #D3E2B6;
}

.modal-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 100;
}
.modal-wrapper .modal {
  display: none;
  position: relative;
  left: -50%;
  top: -50%;
  padding: 40px 40px;
  border: 2px solid #497D7A;
  border-radius: 2px;
  background: #AACCB1;
}
.modal-wrapper .modal-header {
  padding: 10px;
  background: #D3E2B6;
  opacity: 0.75;
}
.modal-wrapper .modal-header .modal-header-title {
  color: #497D7A;
  font-weight: bold;
  opacity: 1;
}

/*# sourceMappingURL=main_new.css.map */
