/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.09.2014, 20:31:39
    Author     : MrUnkn0wn
*/

$font-header: 'Aliquam';
$font-main: Helvetica, sans-serif;
$colors-light-0:#FCFAEE;
$colors-light-1:#F8F4D7;
$colors-middle-0:#D3E2B6;
$colors-dark-0:#AACCB1;
$colors-dark-1:#68B3AF;
$colors-dark-2:#497D7A;

body {
    background-color: $colors-light-0;
    font-family: "Open Sans", "Helvetica", "Arial", "FreeSans", "Verdana", "Tahoma", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", sans-serif;
}

#header {
    height:70px;
    div{
        height:60px;
        font-family: $font-header;
        padding-top: 10px;
    }
    .header-logo{
        float:left;
        font-size: 40px;
        text-align: right;
        vertical-align: central;
        font-weight: bold;
        width:204px;
        color:$colors-light-1;
        background-color:$colors-dark-0;
        padding-right: 5px;
        
    }
    .header-separator{
        float:left;
        width:5px;
        background-color: $colors-dark-1;
    }
    .header-main{
        padding-left: 5px;
        font-size: 40px;
        vertical-align: central;
        font-weight: bold;
        width: 78%;
        overflow:hidden;
        background-color:$colors-middle-0;
        color:$colors-dark-2;
        position: absolute;
        left:214px;
    }
    .header-signup{
        font-size: 14px;
        width:203px;
        background-color:$colors-dark-0;
        float:right;
        padding-top:0px;
        height:55px;
        div.sign-btn{
            padding: 7px 0px;
            background: $colors-dark-0;
            color: $colors-dark-2;
            cursor:pointer;
            font-size: 14px;
            font-weight: 700;
            height:20px;
            text-align: center;
            
        }
        div.sign-btn:hover{
            background: $colors-dark-2;
            color: $colors-light-0;
            border-radius: 3px;
        }
        div.sign-separator{
            background: $colors-middle-0;
            height:2px;
            padding-top: 0px;
        }
    }
}
button{
    border-radius: 3px;
    padding: 10px 20px;
    background: $colors-dark-2;
    border: none;
    color: $colors-light-0;
    cursor:pointer;
    font-size: 12px;
    font-weight: 700;
}